body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #b0caff;
    background: linear-gradient(to right, rgb(255, 136, 0), rgb(245, 207, 255) );
    color: #61dafb;
  }
  
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #343a40;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    font-size: 1.5rem;
    background-color: #454d55;
    border: none;
    color: #ffab00;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .button {
    background-color: #b9d0d6;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    color: #282c34;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  .button1{
    background-color: rgb(231, 65, 36);
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  .button:hover,.button1:hover {
    background-color: #2188ff;
  }
  
  .operation {
    background-color: #ffab00;
  }
  
  .operation:hover {
    background-color: #e08b00;
  }
  
  .equals {
    background-color: #28a745;
  }
  
  .equals:hover {
    background-color: #218838;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  